{% extends 'base.html.twig' %}

{% block title %}Lobby{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 d-grid gap-2">
            <a href="{{ path('leave') }}" class="btn btn-secondary btn-lg">Leave</a>
        </div>
        <div class="col-md-8">

        </div>
    </div>
    Lobby for {{ game.getSlug }}
{% endblock %}

{% block javascripts %}
    <script type="application/json" id="mercure-url">
        {{ mercure('http://localhost' ~ path('lobby', {slug: game.getSlug}),
            {
                subscribe: 'http://localhost' ~ path('lobby', {slug: game.getSlug})
            }
        )|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}