{% extends 'base.html.twig' %}

{% block title %}{% trans %}decks.index.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-2">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">{% trans %}decks.index.sidebar.title{% endtrans %}</span>
                </div>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#import-deck">
                        {% trans %}decks.index.sidebar.import{% endtrans %}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="row">
                {% for deck in decks %}
                    <div class="col-md-4">
                        {% include 'decks/elements/deck.html.twig' with {'deck': deck} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="import-deck" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans %}decks.index.import_modal.title{% endtrans %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start(importForm) }}
                <div class="modal-body">
                    {{ form_widget(importForm) }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">{% trans %}decks.index.import_modal.submit{% endtrans %}</button>
                </div>
                {{ form_end(importForm) }}
            </div>
        </div>
    </div>
{% endblock %}