$body-bg: black;
$body-color: white;

$modal-content-bg: lighten($body-bg, 20%);
$modal-content-color: darken($body-color, 10%);

$card-bg: lighten($body-bg, 10%);

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

.list-group-item {
  background-color: lighten($body-bg, 15%);
  color: darken($body-color, 10%);
}

h1.page-header{
  text-shadow:0 0 10px white;
  font-size:30pt;
  margin-top:10px;
  padding-top:0;
  color:white;
  margin-bottom:50px;
}

h1.page-header a{
  text-decoration: none;
  color: white;
}

a {
  text-decoration:none;
}

.input-group-text {
  background: lighten($body-bg, 10%);
}

.toast {
  background-color: lighten($body-bg, 20%);
  color: darken($body-color, 10%);
}

.form-select:disabled {
  background-color:lighten($form-select-bg, 20%);
}

.form-control:disabled {
  background-color:lighten($input-bg, 20%);
}

$table-bg: lighten($body-bg, 10%);
$table-striped-bg: lighten($body-bg, 30%);

$table-border-color: rgba(255,255,255, 0.5);

table, tr {
  border-color: $table-border-color;
}

.card.white-card .card-body{
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 3px 3px;
  transition: background-color 500ms;
}

.card.white-card *{
  color:black;
  height: 150px;
}

.card.black-card .card-body{
  color:white;
  height: 150px;
}

.card.black-card .card-body {
  border-radius: 3px 3px;
}

a.card-link {
  text-decoration: none;
}

a.card-link .card-body:hover {
  background-color: rgba(255,255,255,0.95);
  transition: background-color .15s;
}

.card.blank-card .card-body{
  background:rgba(255,255,255,0.2);
  border-radius:3px 3px;
  height: 150px;
}

.card.blank-card-clickable .card-body{
  transition: background-color .3s;
}

.card.blank-card-clickable .card-body:hover {
  cursor:pointer;
  transition: background-color .15s;
  background-color: rgba(255, 255, 255, 1);
}

.card.white-card.used-white-card .card-body{
  background: rgba(255, 255, 255, 0.4) !important;
  cursor: not-allowed;
}

.card.black-card span.white-text {
  background-color: white;
  color: black;
}

.card.black-card .black-card-link.black-card-link-clicked .card-body {
  background-color:rgba(255,255,255,0.1);
}

.card.deck .card-header {
  background-color:rgba(255,255,255,0.2);
}

.card.deck .card-body.white-card-count {
  background-color:rgba(255,255,255,0.95);
  color: black;
}

.card.deck .card-body.black-card-count {
  background-color:rgba(0,0,0,0.9);
  color: white;
}

.card.deck .col-md.black-card-count-container {
  padding-left:0;
}

.card.deck .col-md.white-card-count-container {
  padding-right:0;
}

@include media-breakpoint-down(md) {
  .card.deck .col-md.black-card-count-container {
    padding: 0 12px !important;
  }
  .card.deck .col-md.white-card-count-container {
    padding: 0 12px !important;
  }
}