{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            {{ form_start(loginForm) }}
                {{ form_widget(loginForm) }}

                <div class="d-grid gap-2 mb-4">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="d-grid gap-2 mb-5">
                    <a href="{{ path('auth_sch_redirect') }}" class="btn btn-primary">Log in with AuthSCH</a>
                    <button type="button" class="btn login-back-button btn-secondary">Back</button>
                </div>
            {{ form_end(loginForm) }}
        </div>
    </div>
{% endblock %}